{% extends 'jdsnursery/base.html' %}
{% load static %}

{% block content %}
<p><h3><b><center><img src="{% static 'jdsnursery/images/Screenshot 2024-06-12 181101.png' %}" width="60+" height="60"> JDS Plant Providers</center></b></h3>
  &nbsp &nbsp &nbsp  &nbsp &nbsp<center><img src="{% static 'jdsnursery/images/tree.jpg' %}" width="500" height="300"></center>
  <br>
&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp It Is Where You Showcase Our History Here We Are Selling Many Varities Of Plants In Our "JDS Plant Providers". We Are Heartly Declare To Say About Our Shop.
<br>
   &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp In Our Website You Can Able To See All Types And Varities Plants In 
 Our Shop.
 <br>
 <br>



</p>





{% endblock %}