{% extends 'jdsnursery/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron">
	<div class="container">
  <h1 class="display-4">Hello, Everyone...!!!</h1>
  <p class="lead">Welcome to my Website... I am Buelah!!!.</p>
  <img src="{% static 'jdsnursery/images/Screenshot 2024-06-12 181101.png' %}" width="250+" height="200">
  <hr class="my-4">
  <p>I am a Nature Lover...!!!Buy Plants-Plant them-Save Life...!!!</p>
  <a class="btn btn-primary btn-lg" href="\learn" role="button">Learn more</a>
  <br>
  <br>
  <br>
</div>
{% endblock %}
